.flex-container {
  display:                 -webkit-flex;   /* Safari */
  -webkit-flex-direction:  row;            /* Safari */
  -webkit-flex-wrap:       wrap;           /* Safari */
  -webkit-justify-content: space-around;   /* Safari */
  -webkit-align-content:   space-around;   /* Safari */

  display:                 flex;
  flex-direction:          row;
  flex-wrap:               wrap;
  justify-content:         space-around;
  align-content:           space-around;
}

.shirt {
  text-align: center;
  border: 1px dashed black;
  width: 300px;
  height: 300px;
  margin: 1.5%;
  border-radius: 10px;
}

.shirtframe {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  width: 1000px;
}

@media only screen and (max-width: 1000px) {
	.shirtframe { width: 100% }
}
