<div class="shirtframe">
    <h2 ng-show="shirts === undefined || shirts.length == 0">No current articles. </h2>

    <!-- Repeated Articles -->
    <div class="flex-container">
      <div class="shirt" ng-repeat="shirt in shirts">
        <!-- Article -->
        <!-- <shirt-body></shirt-body>  -->
        <!-- Article Edit Form <article-edit></article-edit> -->
        <a href="" ng-click="zoomModal(shirts.indexOf(shirt));">
          <div class="shirtzoom">
            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Zoom
          </div>
        </a>
        <a href="{{shirt.link}}">
          <div class="shirtimage" style="background-image: url('{{shirt.content}}'); background-color: {{shirt.background}}"></div>
          <div class="shirtdetails">
            <div class="left">
              <h6 class="shirtname">
                <strong>{{shirt.title}}</strong>
                <br/>{{shirt.site}}
              </h6>
            </div>
            <div class="right">
              <h6 class="shirtcost"><strong>{{shirt.cost}}</strong> + {{shirt.shipping}} shipping</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
</div>
