    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="navbar-brand"> Shirt of the Day!</li>
            <li ng-class="{'active' : sorting == 'latest'}" ng-click="sortByLatest();"><a href="">Latest</a></li>
            <li ng-class="{'active' : sorting == 'price'}" ng-click="sortByPrice();"><a href="">By Price Low to High</a></li>
          </ul>
        </div>
      </div>
    </nav>
